@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #9491f0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #9491f0;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #9491f0;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu button styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #9491f0;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home section styling */
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #9491f0;
    font-weight: 500;
}
.home .home-content i{
    align-items: center;
    color: #fff;
}

/* common content styling */

section{
    padding: 100px 0;
}
.about, .projects, .contact, .footer{
    font-family: 'Poppins', sans-serif;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #9491f0;
    padding: 5px;
    background: #111;
    transform: translateX(-50%);
}
.about .about-content,
.skills .skills-content,
.tools .tools-content,
.contact .contact-content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* about section styling */
.about{
    background: linear-gradient(#111,#222, rgb(35, 34, 51));
    color: #fff;
    min-height: 500px;
} 
.about .title::after{
    content: "who i am";
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
}
.about .about-content .right .text span{
    color: #9491f0;
}
.about .about-content .right p{
    margin-top: 15px;
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #9491f0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #fff;
    transition: all 0.3 ease;
}
.about .about-content .right a:hover{
    color: #9491f0;
    background: none;
    border: 2px solid #9491f0;
}

/* skills and tools section common styling */
.skills, .tools{
    background: url(images/banner2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
}
.skills .title::before,
.tools .title::before{
    background: #fff;
}
.skills .title::after,
.tools .title::after{
    background: #072a54;
    border-radius: 6px;
}
.skills .skills-content .card .box,
.tools .tools-content .card .box{
    transition: all 0.3s ease;
}
.skills .skills-content .card:hover .box,
.tools .tools-content .card:hover .box{
    transform: scale(1.05);
}
.skills .skills-content .card,
.tools .tools-content .card{
    width: calc(33% - 20px);
    color: #fff;
    background: #9491f0;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: color 0.1s ease;
    margin-bottom: 20px;
}
.skills .skills-content .card img,
.tools .tools-content .card img{
    width: 50px;
    height: 55px;
}
.skills .skills-content .card:hover,
.tools .tools-content .card:hover{
    color: #9491f0;
    background: #fff;
    border: 2px solid #9491f0;
}
.skills .skills-content .card .text,
.tools .tools-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */
.skills .title::after{
    content: "what i provide";
}
.skills .skills-content .card i{
    font-size: 50px;
    color: #fff;
}
.skills .skills-content .card:hover i{
    font-size: 50px;
    color: #9491f0;
}

/* projects section styling */
.projects{
    background: url(images/banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
} 
.projects .title::after{
    content: "what i have done";
    border-radius: 6px;
}
.projects .carousel a .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px ;
    text-align: center;
    transition: all 0.3s ease;
}
.projects .carousel a .card:hover{
    background: #9491f0;
}
.projects .carousel a .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel a .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel a{
    color: #9491f0;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .carousel a:hover{
    color: #fff;
}
.projects .carousel a .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid #9491f0;
    transition: all 0.3s ease;
}
.projects .carousel a .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #9491f0!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #9491f0!important;
}

/* tools section styling */
.tools .title::after{
    content: "what i can use";
}
.tools .tools-content .card .blender{
    width: 80px;
    height: 55px;
}

/* contact section styling */
.contact{
    background: linear-gradient(#111,rgb(35, 34, 51));
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
} 
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .text{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 25px;
}
.contact .contact-content .card .box{
    transition: all 0.3s ease;
}
.contact .contact-content .card:hover .box{
    transform: scale(1.05);
}
.contact .contact-content .card{
    width: calc(50% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: color 0.3s ease;
    margin-bottom: 20px;
}
.contact .contact-content .card:hover{
    background: #9491f0;
    border: 2px solid #9491f0;
}
.contact .contact-content .card i{
    font-size: 35px;
    color: #9491f0;
    margin-right: 20px;
}
.contact .contact-content .card:hover i{
    font-size: 35px;
    color: #fff;
}
.contact .contact-content .card a{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

/* footer section styling */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}
footer span .text{
    color: #9491f0;
}

/* responsive media query start */
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }    
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    } 
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
  
    .skills .skills-content .card,
    .tools .tools-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
  
    .skills .skills-content .card,
    .tools .tools-content .card,
    .contact .contact-content .card{
        width: 100%;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    
}